# Flutter/Dart-related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS-specific files
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcarchive/
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig

# Android-specific files
.android/
App/build/

# Web-specific files (caso o projeto seja multi-plataforma e suporte web)
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies
web/build/

# Arquivos de configuração do IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Arquivos de sistema
.DS_Store
*.log
*.swp
*.lock
