<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBesMHK7eBgittXR18Y7HbBLP1Lmt82GTI</string>
	<key>GCM_SENDER_ID</key>
	<string>711371671856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.agrinnovate</string>
	<key>PROJECT_ID</key>
	<string>agrinnovate-d31ea</string>
	<key>STORAGE_BUCKET</key>
	<string>agrinnovate-d31ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711371671856:ios:5894e34ee67fca6a2360f5</string>
</dict>
</plist>